<h1>{{actionType}} Cliente</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
        <label class=" control-label col-md-12">Nome</label>
        <div class="col-md-12">
            <input class="form-control" type="text" formControlName="nome">
        </div>
        <!-- <span class="text-danger ml-3" *ngIf="nome.invalid && formDir.submitted">
            nome is required.
        </span> -->
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Documento</label>
        <div class="col-md-12">
            <input class="form-control" type="text" formControlName="documento">
        </div>
        <!-- <span class="text-danger ml-3" *ngIf="documento.invalid && formDir.submitted">
            documento is required.
        </span> -->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Salvar</button>
        <button class="btn btn-secondary float-left" (click)="cancel()">Cancelar</button>
    </div>
</form>