<div class="container" style="margin-top: 10px;">
  <a [routerLink]="['/']" class="btn btn-info" style="margin-right: 5px;"> Home </a>
  <a [routerLink]="['/']" class="btn btn-info" style="margin-right: 5px;"> Clientes </a>
  <a [routerLink]="['/']" class="btn btn-info" style="margin-right: 5px;"> Produtos </a>
  <a [routerLink]="['/']" class="btn btn-info" style="margin-right: 5px;"> Vendedores </a>
  <a [routerLink]="['/']" class="btn btn-info"> Vendas </a>

  <router-outlet></router-outlet>
</div>